<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>News Portal</title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
  </head>
  <body>
    <h1>Welcome To King Khan Information Home Page</h1>
    <img src="{% static 'images/srk1.jpg' %}" alt="">
    <ul>
      <li><a href="family/">Srk Family information</li>
      <li><a href="srk90stimes/">Srk Hits 90's And Near to 2000</a></li>
      <li><a href="leatestmovie/">Srk Hits in  Now a Days</a></li>
      <li><a href="hisawards/">Srk Awards</a></li>
    </ul>
  </body>
</html>
