<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adil News Portal</title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
  </head>
  <body>
    <h1>{{head_msg}}</h1>
    <ul>
      <li>{{sub_msg1}}</li>
      <li>{{sub_msg2}}</li>
      <li>{{sub_msg3}}</li>
      <li>{{sub_msg4}}</li>
      <li>{{sub_msg5}}</li>
      <li>{{sub_msg6}}</li>
    </ul>
    {% if type == 'family' %}
    <img src="{% static 'images/srkf1.jpeg' %}" alt="">
    <img src="{% static 'images/srkf2.jpeg' %}" alt="">
    <img src="{% static 'images/srkson1.jpeg' %}" alt="">
    <img src="{% static 'images/srkwife.jpeg' %}" alt="">
    <img src="{% static 'images/srkchilds.jpeg' %}" alt="">
    {% elif type == 'oldentime' %}
    <img src="{% static 'images/srk13.jpeg' %}" alt="">
    <img src="{% static 'images/srk2.jpg' %}" alt="">
    <img src="{% static 'images/srk3.jpg' %}" alt="">
    <img src="{% static 'images/srk4.jpg' %}" alt="">
    <img src="{% static 'images/sek5.jpeg' %}" alt="">
    <img src="{% static 'images/srk6.jpeg' %}" alt="">
    {% elif type == 'leatestmovie' %}
    <img src="{% static 'images/srk7.jpeg' %}" alt="">
    <img src="{% static 'images/srk8.jpeg' %}" alt="">
    <img src="{% static 'images/srk9.jpeg' %}" alt="">
    <img src="{% static 'images/s1k10.jpeg' %}" alt="">
    <img src="{% static 'images/srk11.jpeg' %}" alt="">
    <img src="{% static 'images/srk12.jpeg' %}" alt="">
    {% elif type == 'hisawards' %}
    <img src="{% static 'images/srkaw1.jpeg' %}" alt="">
    <img src="{% static 'images/srkaw2.jpeg' %}" alt="">
    <img src="{% static 'images/srkaw3.jpeg' %}" alt="">
    <img src="{% static 'images/srkaw4.jpeg' %}" alt="">
    <img src="{% static 'images/srkaw5.jpeg' %}" alt="">
    <img src="{% static 'images/srkaw6.jpeg' %}" alt="">
    {% endif %}
  </body>
</html>
